
<div ng-switch="controller.wizard">
    <div ng-switch-when="client"> 
        <button class="btn btn-info pull-right" type="submit"
                ng-disabled="!(controller.currentClient.name)"
                ng-click="controller.nextToRiskMap()">
            Next &raquo;
        </button>
        <h3><span class="noprint">1 - </span>Client Details</h3>

        <input type="text" class="form-control" placeholder="Client name" data-ng-model="controller.currentClient.name" required autofocus>
        <br/>
        <address-form address="controller.currentClient.address" notitle="true" nowebsite="true" disclaimer="true" summary="true"></address-form>
    </div>

    <div ng-switch-when="riskmap">
        <button class="btn btn-info pull-right" type="submit"
                ng-click="controller.nextToReferrals()">
            Next &raquo;
        </button>
        <button class="btn btn-info pull-right" type="submit"
                ng-click="controller.backToClient()">
            &laquo; Back
        </button>
        <h3><span class="noprint">2 - </span>Risks for {{controller.currentClient.name}}</h3>

        <ng-include src="'app/views/common/risks.html'">
    </div>

    <div ng-switch-when="referrals">
        <button class="btn btn-danger pull-right" type="submit"
                ng-click="controller.completeWizard()">
           Finish
        </button>
        <button class="btn btn-info pull-right" type="submit"
                ng-click="controller.printForm()">
           <i class="glyphicon glyphicon-print"></i> Print
        </button>
        <button class="btn btn-info pull-right" type="submit"
                ng-click="controller.backToRiskMap()">
           &laquo; Back
        </button>
        <h3><span class="noprint">3 - </span>Referral Report for {{controller.currentClient.name}}</h3>
 
        <ng-include src="'app/views/common/referrals.html'">   
    </div>
</div>

<script type="text/ng-template" id="completedReport.html">
    <div class="modal-header">
        <h3 class="modal-title">Referral Report Completed</h3>
    </div>
    <div class="modal-body">
        <p>Referral Report for {{thingToEdit.name}} Complete.</p>
        <p ng-hide="thingToEdit.noemail">A copy of the report has been emailed to {{thingToEdit.address.email}}.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="update()"><i class="glyphicon glyphicon-save"></i> OK</button>
        <button class="btn btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="errorReport.html">
    <div class="modal-header">
        <h3 class="modal-title">Referral Report Error</h3>
    </div>
    <div class="modal-body">
        <p>There was a problem sending the email to {{thingToEdit.address.email}}.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="update()"><i class="glyphicon glyphicon-ok"></i> Retry</button>
        <button class="btn btn-info" ng-click="thingToEdit.noemail=true; update()"><i class="glyphicon glyphicon-ok"></i> Continue without emailing</button>
        <button class="btn btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="emailDisclaimer.html">
    <div class="modal-header">
        <h3 class="modal-title">Referral Report Email</h3>
    </div>
    <div class="modal-body">
        <p>Does the client understand that the email address supplied will be used to send a summary of the issues discussed?</p>
        <p>The email address will not be used for any other purpose.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="update()"><i class="glyphicon glyphicon-ok"></i> OK</button>
        <button class="btn btn-info" ng-click="thingToEdit.noemail=true; update()"><i class="glyphicon glyphicon-ok"></i> Continue without emailing</button>
        <button class="btn btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteClient.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body textwrapper">
        <div class="row">
            <div class="col-md-12">
                <h3>Are you sure you want to delete this client record?</h3>
                <h3>This record will be permanently deleted and can not be recovered.</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign"></i> No</button>
        <button class="btn btn-primary" data-ng-click="update()">Yes, delete the client</button>
    </div>
</script>
