
<button class="btn btn-danger pull-right"
        type="submit"
        data-ng-click="controller.deleteProject(controller.organisation, controller.project)"
        ng-if="controller.project.candelete">
    Remove
</button>

<h2 class="form-login-heading">Update {{controller.project.name}}</h2>

<tabset>
    <tab heading="Details">
        <ng-include src="'app/views/admin/projectcoreform.html'"></ng-include>

        <button class="btn btn-info pull-right"
                type="submit"
                data-ng-disabled="!((controller.project.name) && (controller.project.riskFramework))"
                data-ng-click="controller.updateProject(controller.organisation, controller.project)">
            Save
        </button>
    </tab>
</tabset>

