<a class="btn btn-info btn-sm pull-right" ng-click="controller.editRisk()">Edit Risk</a>
<h3>{{ controller.currentRisk.title }}</h3>

<table class ="table table-bordered">
    <tr><td colspan="2">{{ controller.currentRisk.guidance }}</td></tr>
    <tr><td><strong>Theme</strong></td><td>{{ controller.currentRisk.theme }}</td></tr>
    <tr><td><strong>Category</strong></td><td>{{ controller.currentRisk.category }}</td></tr>
    <tr><td><strong>Grouping</strong></td><td>{{ controller.currentRisk.grouping }}</td></tr>
    <tr><td><strong>Score</strong></td><td>{{ controller.currentRisk.score }}</td></tr>
    <tr><td colspan="2"><strong>Framework outcomes</strong></td></tr>
    <tr><td><strong>NIHCEG</strong></td><td>{{ controller.currentRisk.nihceg }}</td></tr>
    <tr><td><strong>IOST</strong></td><td>{{ controller.currentRisk.iost }}</td></tr>
    <tr><td><strong>HCP</strong></td><td>{{ controller.currentRisk.hcp }}</td></tr>
    <tr><td><strong>SJOF</strong></td><td>{{ controller.currentRisk.sjof }}</td></tr>
    <tr><td><strong>ASCOF</strong></td><td>{{ controller.currentRisk.ascof }}</td></tr>
</table>
