<div class="row">
    <div class="col-md-6">
        <h3>{{controller.currentClient.name}}</h3>
        <p><strong>Phone number</strong> : {{ controller.currentClient.address.phoneNumber }}</p>
        <p><strong>Email</strong> : {{ controller.currentClient.address.email }}</p>
    </div>

    <div class="col-md-6">
        <h3>Assessment by {{controller.referrals.by}}</h3>
        <strong>Date: {{controller.referrals.date}}</strong>
    </div>
</div>

<p></p>
<h3>Issues you have requested help with</h3>
<div ng-repeat="theme in controller.riskAssessment">
    <div ng-repeat="category in theme.categories">
        <div ng-repeat="risk in category.risks" ng-if="risk.status == 'atRisk'">
            <div class="row">
                <div class="col-md-6">
                    <strong>{{ risk.title }}</strong>
                </div>

                <div class="col-md-6">
                    <div ng-repeat="agency in controller.referrals.referrals[risk.id]">
                        <p><strong>{{agency.name}}</strong> 
                        <span ng-if="agency.description"><br /> {{agency.description}}</span>
                        <span ng-if="agency.address.phoneNumber"><br /><strong>Phone number</strong> : {{ agency.address.phoneNumber }}</span>
                        <span ng-if="agency.address.email"><br /><strong>Email</strong> : <a href="mailto:{{ agency.address.email }}">{{ agency.address.email }}</a></span>
                        <span ng-if="agency.address.website"><br /><strong>Website</strong> : <a href="{{ agency.address.website }}">{{ agency.address.website }}</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4"><hr/></div>
            </div>
        </div>
    </div>
</div>

<h3>Issues you are currently managing</h3>
<div ng-repeat="theme in controller.riskAssessment">
    <div ng-repeat="category in theme.categories">
        <div class="row" ng-repeat="risk in category.risks" ng-if="risk.status == 'managedRisk'">
            <div class="col-md-6">
                <strong>{{ risk.title }}</strong>
            </div>
        </div>
    </div>
</div>


