<div ng-controller="adminRisksController as controller">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggle" type="button" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ng-include src="'app/views/common/navbar_header.html'"></ng-include>
            <div class="collapse navbar-collapse" data-collapse="isCollapsed">
                <ul class="nav navbar-nav" ng-switch="controller.view">
                    <li class="dropdown" dropdown ng-switch-when="home">
                        <a class="dropdown-toggle" dropdown-toggle>Risk Maps <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/admin">Organisations</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav" ng-switch="controller.view">
                    <li ng-switch-when="home">
                        &nbsp;<button class="btn btn-primary navbar-btn" ng-click="controller.newRiskMap()">New Risk Map</button>
                        <button class="btn btn-primary navbar-btn" ng-click="controller.newRisk()">New Risk</button>
                    </li>
                    <li ng-switch-when="risk">&nbsp;<button class="btn btn-warning navbar-btn" ng-click="controller.showRisks()"><i class="glyphicon glyphicon-eject"></i> Close</button></li>
                    <li ng-switch-when="editRisk">&nbsp;<button class="btn btn-danger navbar-btn" ng-click="controller.view = 'risk'"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></li>
                    <li ng-switch-when="newRisk">&nbsp;<button class="btn btn-danger navbar-btn" ng-click="controller.view = 'home'"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></li>
                    <li ng-switch-when="editRiskMap">&nbsp;<button class="btn btn-danger navbar-btn" ng-click="controller.view = 'riskMap'"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></li>
                    <li ng-switch-when="newRiskMap">&nbsp;<button class="btn btn-danger navbar-btn" ng-click="controller.view = 'home'"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></li>
                    <li ng-switch-default>&nbsp;<button class="btn btn-warning navbar-btn" ng-click="controller.refresh()"><i class="glyphicon glyphicon-eject"></i> Close</button></li>
                </ul>
                <ng-include src="'app/views/common/logout_button.html'"></ng-include>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-switch="controller.view">
                <p data-ng-show="controller.message != ''" class="alert alert-danger ng-hide">
                    {{controller.message}}
                </p>

                <div ng-switch-when="home"><ng-include src="'app/views/admin/riskmaplist.html'"></ng-include></div>
                <div ng-switch-when="riskMap"><ng-include src="'app/views/admin/riskmap.html'"></ng-include></div>
                <div ng-switch-when="editRiskMap"><ng-include src="'app/views/admin/editriskmap.html'"></ng-include></div>
                <div ng-switch-when="newRiskMap"><ng-include src="'app/views/admin/newriskmap.html'"></ng-include></div>
                <div ng-switch-when="risk"><ng-include src="'app/views/admin/risk.html'"></ng-include></div>
                <div ng-switch-when="editRisk"><ng-include src="'app/views/admin/editrisk.html'"></ng-include></div>
                <div ng-switch-when="newRisk"><ng-include src="'app/views/admin/newrisk.html'"></ng-include></div>
            </div>
        </div>
    </div>
</div>
