<div ng-controller="advisorController as controller">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggle" type="button" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ng-include src="'app/views/common/navbar_header.html'"></ng-include>
            <div class="collapse navbar-collapse" data-collapse="isCollapsed">
                <ng-include src="'app/views/common/logout_button.html'"></ng-include>
            </div>
        </div>
    </nav>

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-switch="controller.view">
        <p data-ng-show="controller.message != ''" class="alert alert-danger ng-hide">
            {{controller.message}}
        </p>

        <ng-include src="'app/views/advisor/triage.html'">
     </div>
  </div>
</div>

</div>

