<div class="row">
    <div class="col-md-3"><strong>Employment status</strong> : </div>
    <div>{{demographics.employmentStatus}}</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3"><strong>Ethnic origin</strong> : </div>
    <div>{{demographics.ethnicOrigin}}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Gender</strong> : </div>
    <div>{{demographics.gender}}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Date of birth</strong> : </div>
    <div>{{demographics.dob|date:'dd MMM yyyy'}}</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3"><strong>Disability/Health</strong> : </div>
    <div>{{demographics.disability}}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Type of Disability/Condition</strong> : </div>
    <div>{{demographics.disabilityType}}</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3"><strong>Marital Status</strong> : </div>
    <div>{{demographics.maritalStatus}}</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
   <div class="col-md-3"><strong>Household</strong> : </div>
   <div>{{demographics.householdType}}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Housing</strong> : </div>
    <div>{{demographics.housingType}}</div>
</div>
<div class="row">
    <div class="col-md-3"><strong>Monthly household income</strong> : </div>
    <div>{{demographics.householdIncome}}</div>
</div>
