
    <div ng-hide="demographics.employmentStatus"><strong>Employment status</strong></div>
    <div ng-hide="demographics.ethnicOrigin"><strong>Ethnic origin</strong></div>
    <div ng-hide="demographics.gender"><strong>Gender</strong></div>
    <div ng-hide="demographics.dob"><strong>Date of birth</strong></div>
    <div ng-hide="demographics.disability"><strong>Disability/Health</strong></div>
    <div ng-hide="demographics.disabilityType"><strong>Type of Disability/Condition: </strong></div>
    <div ng-hide="demographics.maritalStatus"><strong>Marital Status</strong></div>
    <div ng-hide="demographics.householdType"><strong>Household</strong></div>
    <div ng-hide="demographics.housingType"><strong>Housing</strong></div>
    <div ng-hide="demographics.householdIncome"><strong>Monthly household income</strong></div>
