<input type="text" class="form-control" placeholder="Name" data-ng-model="controller.location.name" required autofocus>
<address-form address="controller.location.address"></address-form>

<div ng-if="controller.includeProjectChooser">
    <h3>Projects</h3>

    <div data-ng-repeat="proj in controller.allProjects">
        <input type="checkbox"
               value="{{proj.id}}"
               ng-click="controller.toggleLocationProject(proj.id)"
               ng-checked="controller.location.projectIds.indexOf(proj.id) != -1">  {{proj.name}}
    </div>
</div>