<a class="btn btn-info btn-sm pull-right" ng-click="controller.editRiskMap()">Edit Risk Map</a>
<h3>{{ controller.currentRiskMap.name }}</h3>

{{ controller.currentRisks.length }} risks
<table datatable="ng" id="riskmaprisklist" dt-options="controller.rtOptions"
       class="ng-hide" ng-show="controller.currentRiskMap.risks.length != 0">
    <thead>
        <tr><th>Theme</th><th>Risk</th><th>Category</th><th>Grouping</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat="risk in controller.currentRiskMap.risks">
            <td>{{ risk.theme }}</td>
            <td>{{ risk.title }}</td>
            <td>{{ risk.category }}</td>
            <td>{{ risk.grouping }}</td>
        </tr>
    </tbody>
</table>